* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border-bottom: 1px solid black;
  text-align: center;
}


main {
  width: 800px;
  margin: 0 auto;
}


aside {
  width: 180px;
  border: 1px solid black;
  position: absolute;
  right: 0;
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0px;
  text-align: center;
}

button {
  background-color: black;
  color: white;
  font-family: serif;
}

aside:active {
  color: white;
  background-color: black;
}

.botao-apertado:active {
  color: black;
  background-color: white;
}